@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem;
  background: linear-gradient(rgba(0,0,0,0.5),#2b5295),url(bg.png);
}
/* body:after {
  content: "";
  position: fixed;
  inset: 0;
  right: auto;
  width: 60%;
  background: #0037ff;
  height: 100vh;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 70% 100%);
          clip-path: polygon(0 100%, 0 0, 100% 0, 70% 100%);
  z-index: -1;
} */

.login-card {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 10px 50px -30px black;
  width: 1200px;
  border-radius: 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
}
.login-card a {
  text-decoration: none;
  color: #0037ff;
}
.login-card .column {
  padding: 4rem;
}
.login-card .column:last-child {
  background: url("bglog.jpg") center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.login-card .column:last-child:after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, white, rgba(255, 255, 255, 0.625));
  inset: 0;
}
.login-card .column:last-child * {
  z-index: 1;
}
.login-card .column:last-child a {
  display: inline-block;
  padding: 12px 30px;
  font-size: 16px;
  border: 2px solid #0037ff;
  color: black;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 600;
}
.login-card .column:last-child a:hover {
  background-color: #0037ff;
  color: white;
}
.login-card .column:last-child {
  text-align: center;
}
.login-card form {
  margin-top: 2rem;
}
.login-card form > * {
  margin-bottom: 1rem;
}
.login-card form button {
  background-color: #0037ff;
  color: white;
  font-size: 18px;
  border: none;
  padding: 20px 40px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
}
.login-card form button:active {
  scale: 0.95;
  background-color: #002ccc;
}
.login-card form .form-checkbox-item {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-left: 5px;
}
.login-card .flex {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.login-card h1 {
  margin-bottom: 15px;
}
.login-card .form-element {
  width: 100%;
  border: none;
  background-color: #f1f1f1;
  padding: 20px 30px;
  font-size: 18px;
  border-radius: 50px;
  transition: box-shadow 0.2s;
}
.login-card .form-element:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px #0037ff;
}
.login-card input[type=checkbox] {
  accent-color: #0037ff;
  width: 16px;
  height: 16px;
}


@media (max-width: 992px) {
  .login-card {
    display: block;
    width: 500px;
    text-align: center;
  }
  .login-card .flex {
    flex-direction: column;
    gap: 1rem;
  }
  .login-card .column:last-child {
    display: none;
  }

}


#preloader {
  background-color: #fff;
  background-image: url("preloader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
}